{{- $tenants := include "tenants" $ | fromYaml -}}
{{- range $tenantId, $tenant := $tenants -}}
apiVersion: argoproj.io/v1alpha1
kind: AppProject
metadata:
  name: {{ $tenantId }}
  # namespace: argocd
spec:
  sourceNamespaces:
  {{- range $namespace, $_ := .namespaces }}
    - {{ $namespace | quote }}
  {{- end }}
---
{{- end -}}
