apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: ingress-nginx
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: platform
  sources:
    - repoURL: https://kubernetes.github.io/ingress-nginx
      targetRevision: 4.14.3
      chart: ingress-nginx
      helm:
        valueFiles:
          - $values/values/ingress-nginx/values.yaml
    - repoURL: git@github.com:tombulled/k8s.git
      targetRevision: main
      ref: values
  destination:
    name: in-cluster
    namespace: ingress-nginx
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
