{{- range $tenantId, $tenant := .Values.tenants -}}
{{- $tenantEnabled := ternary .enabled true (ne .enabled nil) -}}
{{- if $tenantEnabled -}}
{{- range $applicationId, $application := .applications -}}
{{- $applicationEnabled := ternary .enabled true (ne .enabled nil) -}}
{{- if $applicationEnabled -}}
{{- if not $application.name -}}{{- $_ := set $application "name" $applicationId -}}{{- end -}}
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: {{ $tenant.name }}-{{ .name }}
  {{ with .annotations }}annotations: {{- . | toYaml | nindent 4 }}{{- end }}
  {{ with .labels }}labels: {{- . | toYaml | nindent 4 }}{{- end }}
---
{{- end -}}
{{- end -}}
{{- end -}}
{{- end -}}