{{- range $tenantId, $tenant := .Values.tenants -}}
{{- $tenantEnabled := ternary .enabled true (ne .enabled nil) -}}
{{- if $tenantEnabled -}}
{{- range $namespaceId, $namespace := .namespaces -}}
{{- $namespaceEnabled := ternary .enabled true (ne .enabled nil) -}}
{{- if $namespaceEnabled -}}
{{- if not $namespace.name -}}{{- $_ := set $namespace "name" $namespaceId -}}{{- end -}}
apiVersion: v1
kind: Namespace
metadata:
  name: {{ .name }}
  {{ with .annotations }}annotations: {{- . | toYaml | nindent 4 }}{{- end }}
  {{ with .labels }}labels: {{- . | toYaml | nindent 4 }}{{- end }}
---
{{- end -}}
{{- end -}}
{{- end -}}
{{- end -}}